#pragma once

class State{
public:
    State();
    virtual ~State();
    
    virtual void onEnter();
    virtual void onExit();
    
    // events
    {% for event in events %}
    
    {% %}
    
    // end events
    
    void switchState(State*);
    State* _state;
};